@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(styles/custom.css);

:root {
    --dark-blue:rgba(47, 64, 77, 1);
    --teal: rgba(61, 137, 141, 1);
    --aqua: rgba(133, 235, 217, 1);
    --light-grayish:rgba(226, 221, 223, 1);
    --medium-gray:rgba(160, 164, 162, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
   --dark-blue:rgba(47, 64, 77, 1);
   --teal: rgba(61, 137, 141, 1);
   --aqua: rgba(133, 235, 217, 1);
   --light-grayish:rgba(226, 221, 223, 1);
   --medium-gray:rgba(160, 164, 162, 1);
  }
}

body {
 background-color: white;
 color: black;
}
